## Pandas

### Instructions

This assignment will be done completely inside this Jupyter notebook with answers placed in the cell provided.

All python imports that are needed shown.

Follow all the instructions in this notebook to complete these tasks.    

Make sure the CSV data files is in the same folder as this notebook - alumni.csv, groceries.csv

In [ ]:
# Imports needed to complete this exam
import pandas as pd

### Question 1 :  Import CSV file (1 Mark)


Write code to load the alumni csv dataset into a Pandas DataFrame called 'alumni'.

In [ ]:
df = pd.read_csv(r"C:\Users\user\Downloads\Problems\Problems\alumni.csv")

### Question 2 :  Understand the data set (5 Marks)

Use the following pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

### Question 3 :  Working with the data set (4)

a) get the median, b) mean and c) standard deviation for the 'Salary' column

In [ ]:
df['Salary'].median()

In [ ]:
df['Salary'].mean()

In [ ]:
df['Salary'].std()

# Select row at index 3

In [ ]:
df.loc[3]

# Select rows with over 70,000 on the salary

In [ ]:
df[df['Salary'] > 70000]

# Update coulmn values in Marital Status to a charcheter crossponding it's value
for example Single ->S ,Married->M and so on

In [ ]:
df['Marital Status'] = df['Marital Status'].replace({
    'Single': 'S',
    'Married': 'M',
    'Divorced': 'D'
})

# Drop the Fee coulmn

In [ ]:
df = df.drop(columns=['Fee'])

# ADD a New row to the data set

In [ ]:
new_row = {
    'Name': 'Mohamed',
    'Year Graduated': 2027,
    'Salary': 75000,
    'Marital Status': 'S'
}

df = df.append(new_row, ignore_index=True)

# Remove all rows where year geaduated is under 2006

In [ ]:
df = df[df['Year Graduated'] >= 2006]